body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "VT323", monospace;
	color: #f0f0f0;
	position: relative;
}

#bg-video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	z-index: -2;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(15, 32, 39, 0.6); /* затемнення */
	z-index: -1;
}

.content {
	position: relative;
	z-index: 1;
	padding: 40px;
	text-align: center;
}

/* Твої існуючі стилі */
img {
	display: block;
	margin: 0 auto;
	width: 100%;
	border-radius: 10%;
}

a {
	color:rgb(179, 255, 0)
}

.foto {
	display: flex;
	justify-content: center;
	width: 150px;
	margin: 0 auto;
}

.text h1 {
	font-weight: 400;
	font-style: normal;
}

.text {
	font-weight: 400;
	font-style: normal;
}

.video-container {
    width: 250px; /* Adjust as needed */
    height: auto;
    margin: 0 auto;
}

.video-container video {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional for rounded corners */
}