body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "VT323", monospace;
	color: #f0f0f0;
	position: relative;
}

/*! Background Video */
#bg-video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	z-index: -2;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(15, 32, 39, 0.6); /*Adjusted for better contrast*/
	z-index: -1;
}

.content {
	position: relative;
	z-index: 1;
	padding: 40px;
	text-align: center;
}

/*! Video */
.video-container {
    width: 20%; /* Adjust as needed */
    height: auto;
    margin: 0 auto;
}

.video-container video {
	max-width: 350px;
	width: 100%;
	height: auto;
	border-radius: 8px; /* Optional for rounded corners */
}

/*! Link */
a {
	color:rgb(179, 255, 0)

}

/*! Text */
.text h1 {
	font-weight: 400;
	font-style: normal;
	font-size: 2.5rem;
	margin: 40px 0 20px;
}

.text {
	font-weight: 400;
	font-style: normal;
	font-size: 1.6rem;
}

@media (max-width: 767px) {
	.content {
		padding: 20px;
	}
	.text h1 {
		font-size: 1.7rem;
	}
	.text {
		font-size: 1rem;
	}
	.video-container {
		width: 40%;
	}
}